[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alive-progress = "*"
pandas = "*"

[dev-packages]
pytest = "*"
isort = "*"
flameprof = "*"

[requires]
python_version = "3.12"
